main{
    padding: 3%;
}
#form, #login_div{
    width: 70%;
    margin: auto;
    align-items: center;
}
h1{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    #form, #login_div{
        width: 100%;
        margin: auto;
        align-items: center;
    }

}