main{
    padding: 3%;
}

#form, #login_div{
    width: 70%;
    margin: auto;
    align-items: center;
}
h1{
    text-align: center;
}

.div-certificado{
    width: 40%;
    align-items: center;
    margin: 10% auto;
    background: gainsboro;
}

@media only screen and (max-width: 700px) {
    #form, #login_div{
        width: 100%;
    }
    .div-certificado{
        width: 90%;
    }
}

.candidato{
    width: 200px;
}

.div_blanco{
    width: 200px;
    height: 200px;
    background: gainsboro;
}
.div-form-busqueda .div-alternative{
    width: 50%;
    background: red;
}
.div-nav{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

#look{
    text-align: center;
    align-content: center;
    margin: auto;
}